@model sheduler.Models.Cours

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
